.detalle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 1vh 20vw;
    padding: 20px 0;

    height: 85vh;

    background-color: rgb(56, 65, 83);
    border-radius: 10px;
}

.detalle h1{
    color: white;
    font-family: "Poppins";
    font-size: 24px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
}

.detalle h2{
    color: white;
    font-family: "Poppins";
    font-size: 24px;

}

.detalle .nombre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    gap: 10px;
}

.detalle .imgdetail{
    height: 400px;
}

.detalle img{
    height: 400px;
    object-fit: cover;
    filter: drop-shadow(5px 5px 5px black);
}

.detalle .add-cart{
    height: 50px;
    width: 200px;
    color: white;
    font-family: "Poppins";
    color: black;
    border-radius: 10px;
    border: 0px;
    cursor: pointer;
    transition: 0.2s all;
}

.detalle .add-cart:hover{
    background-color: #282c34;
    color: white;
}

.detalle .add-cantidad{
    display: flex;
    gap: 20px;

}