.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 65, 83);
    border-radius: 10px;
    padding: 20px;
}

.card h2{
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    height: 300px;
}

.img img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    filter: drop-shadow(5px 5px 5px black);
}

.precio-detalle{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100px;
}

.precio-detalle button{
    width: 100px;
    height: 70px;
    border-radius: 10px;
    border: none;
    font-family: "Poppins";
    font-size: 14px;
    cursor: pointer;
    background-color: white;
    transition: 0.2s all ;
}

.precio-detalle button:hover{
    background-color: rgb(40, 44, 52);
    color: white;
    filter: drop-shadow(5px 5px 5px black);
    scale: 1.05;
    
}